body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    max-width: 100%;
    width: 50%;
}

h1 {
    text-align: center;
    background-color: green;
    font-size: 5em;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 0;
}

h2 {
    text-align: center;
    background-color: green;
    font-size: 3em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div div {
    float: right;
    margin: 1em;
    margin-top: -18em;
    font-size: 24px;
    margin-right: 13em;
}

h3 {
    margin-top: 2em;
}