/* -- Google Font Import - Porformsins --*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 200px;
    height: 200px;
}

header {
    background-color: aquamarine;
    background-position: center;
    height: 150px;
    position: relative;
}