@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<p>This page will contain information about the business and he staff.</p>
